:host {
  display: block;
  max-width: 100%;
  padding-top: 24px;
}

.header {
  &__left {
    display: inline-flex;
  }

  &__right {
    display: inline-flex;
  }
}

.logo {
  margin-top: 6px;
  margin-right: 15px;
}
