<header class="container-fluid">

  <div class="header__left">
    <div class="logo">
      <picture>
        <img src="../assets/images/logo.png" alt="logo">
      </picture>
    </div>
    <app-filter></app-filter>
  </div>

  <div class="header__right">
    <app-navigation></app-navigation>
    <div class="avatar">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44"><defs><image id="uoi2b" width="500" height="500" xlink:href="https://picsum.photos/id/1005/500"/><clipPath id="uoi2a"><path d="M22 40c9.941 0 18-8.059 18-18S31.941 4 22 4 4 12.059 4 22s8.059 18 18 18z"/></clipPath></defs><g><g><path fill="#e4e9ee" d="M22 44c12.15 0 22-9.85 22-22S34.15 0 22 0 0 9.85 0 22s9.85 22 22 22z"/></g><g><g clip-path="url(&quot;#uoi2a&quot;)"><use transform="matrix(.072 0 0 .072 4 4)" xlink:href="#uoi2b"/></g></g></g></svg>

    </div>
  </div>
</header>
