@import "../../config";

:host {
  display: block;
  margin-right: 3.8%;

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2.77vw;
      }

      a {
        font: {
          family: $latoSemibold;
          size: 16px;
          weight: 600;
        }
        text-decoration: none;
        color: $color-gray-4;

        &.active {
          color: $color-blue;
        }
      }
    }
  }
}
