//Fonts variables
$latoRegular: 'LatoRegular', sans-serif;
$latoSemibold: 'LatoSemibold', sans-serif;

//Color variables
$color-white: #fff;
$color-black: #000;
$color-gray: #e4e9ee;
$color-gray-2: #7d8185;
$color-gray-3: #9b9b9b;
$color-gray-4: #9fa4a8;
$color-blue: #1f8dfb;
