@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/lato-regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/lato-regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/lato-regular/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/lato-regular/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/lato-regular/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('assets/fonts/lato-semibold/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/lato-semibold/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/lato-semibold/Lato-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/lato-semibold/Lato-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/lato-semibold/Lato-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
}
